<div class="nav-fold dropup">
    <a data-toggle="dropdown">
        <div class="pull-left">
          <div class="inline"><span class="avatar w-40 grey">JR</span></div>
          <img src="images/a0.jpg" alt="..." class="w-40 img-circle hide">
        </div>
        <div class="clear hidden-folded p-x">
          <span class="block _500 text-muted">Jean Reyes</span>
          <div class="progress-xxs m-y-sm lt progress">
              <div class="progress-bar info" style="width: 15%;">
              </div>
          </div>
        </div>
    </a>
    <div class="dropdown-menu w dropdown-menu-scale ">
      <a class="dropdown-item" href="profile.html">
        <span>Profile</span>
      </a>
      <a class="dropdown-item" href="setting.html">
        <span>Settings</span>
      </a>
      <a class="dropdown-item" href="app.inbox.html">
        <span>Inbox</span>
      </a>
      <a class="dropdown-item" href="app.message.html">
        <span>Message</span>
      </a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="docs.html">
        Need help?
      </a>
      <a class="dropdown-item" href="signin.html">Sign out</a>
    </div>
  </div>